* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	display: none;
	background-color: #000;
}

/* -------------------------------- */

.containerHome {
	height: 100vh;
	width: 100%;
	display: flex;
}

.containerHome > .containerLeft {
	background-color: antiquewhite;
	height: 100vh;
	width: 67%;
	background-color: #0e0e0e;
	position: relative;
}

.containerLeft > .navbar {
	background-color: transparent;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 55px;
}
.navbar > img {
	width: 125px;
	height: 45px;
	flex: 1;
	flex-grow: 0;
}
.navbar > .options {
	display: flex;
	color: #d5d5d5;
	justify-content: space-around;
	flex: 5;
	margin-left: 80px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}
.options > div {
	cursor: pointer;
}
.containerLeft > .main {
	margin: 0 30px 0 80px;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.main > .title {
	font-weight: 400;
	font-size: 80px;
	/* line-height: 45px; */
	align-items: center;
	color: rgba(255, 255, 255, 0.95);
	max-width: 650px;
}

.main > .subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 150.02%;
	color: rgba(255, 255, 255, 0.95);
	max-width: 650px;
}

.main > .buttons {
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: center;
	z-index: 2;
}
.buttons > .explore {
	padding: 12px 40px;
	color: #ffffff;
	background-color: #5f2eea;
	width: max-content;
	border-radius: 20px;
	cursor: pointer;
}

.buttons > .calendar {
	cursor: pointer;
	margin-left: 30px;
}

.main > .time {
	font-weight: 400;
	font-size: 96px;
	line-height: 115px;
	letter-spacing: 0.085em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 30px;
	opacity: 0.6;
}

.containerLeft > img {
	position: absolute;
	bottom: 0;
	width: 60%;
}

.containerHome > .containerRight {
	background-color: #5f2eea;
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerHome > .containerRight > img {
	height: 85vh;
	padding: 0 15px;
}

/* ------------------------------- */

.containerDesc {
	background-color: black;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.containerDesc > .box {
	background: linear-gradient(
		111.59deg,
		rgba(134, 133, 133, 0.075) -14.12%,
		rgba(63, 62, 62, 0.275) 92.7%
	);
	background-blend-mode: luminosity;
	backdrop-filter: blur(25px);
	border-radius: 22px;
	height: 80vh;
	width: 82%;
	border: 2px solid rgba(255, 255, 255, 0.094);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.box > img {
	width: 430px;
	height: 100px;
	padding: 10px 20px;
}

.box > .details {
	font-weight: 400;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #ffffff;
	max-width: 87%;
}

/* ------------------------------- */

.containerSpeaker {
	background-color: black;
	width: 100%;
	padding: 80px;
}

.containerSpeaker > .heading {
	font-weight: 800;
	font-size: 56px;
	line-height: 62px;
	color: #d4d4d4;
}

.containerSpeaker > .bottom {
	/* height: 60vh; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

.containerSpeaker > .bottom > .text1,
.containerSpeaker > .bottom > .text2 {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.065em;
	color: #ffffff;
	max-width: 320px;
	line-height: 32px;
}

.containerSpeaker > .bottom > .text1 {
	text-align: right;
	margin-top: 100px;
}

.containerSpeaker > .bottom > .text2 {
}

.containerSpeaker > .bottom > img {
	height: 500px;
	margin: 0 15px;
}
.containerSpeaker > .bottom > #first {
	margin-top: 50px;
}
